@supports (grid-area: auto){
    @include respond-to('tablet'){
        .second-item{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 100%;
            // Här placerar vi om första bilden
            li:nth-child(2){
                grid-column: 2/3;
                grid-row: 2/3;
            }
            li{
                width: 100%;
            }
        }
    }
}